<!--footer starts from here-->
<footer class="footer">
 
   <div class="container">
  
    <!--foote_bottom_ul_amrc ends here-->
    <p class="text-center">Copyright@{{years  }}  | Designed by <a href="https://www.linkedin.com/in/ahmed-nader-1907/">Ahmed Nader</a></p>

    <ul class="social_footer_ul">
      <li><a href="https://www.facebook.com/ahmed.nader.355/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
       <li><a href="https://www.linkedin.com/in/ahmed-nader-1907/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
     </ul>
    <!--social_footer_ul ends here-->
  </div>
 </footer>
 
 